@use '../abstract/variaveis';
@use '../abstract/mixins';

#desconto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0;
    text-align: center;

    h4 {
        @include mixins.ff-fs-fc-lh (variaveis.$ft-titulo, 1.875rem, variaveis.$cor-primaria, 2.25rem);
    }

    p {
        @include mixins.ff-fs-fc-lh (variaveis.$ft-texto, 1.375rem, variaveis.$cor-primaria, 2rem);
        padding: 1.5rem 0 2rem;
    }

    .input-btn {
        $largura-input: 790px;
        width: $largura-input;
        height: 65px;
        border: 1px solid variaveis.$cor-secundaria;
        border-radius: 32px;
        margin: 0 auto;
        display: inline-flex;
        align-items: center;

        input {
            width: calc($largura-input * 0.65);
            @include mixins.ff-fs-fc-lh (variaveis.$ft-texto, 1.375rem, variaveis.$cor-primaria, 2rem);
            border: none;
            outline: none;
            margin-left: 2rem;
        }

        button {
            width: calc(($largura-input * 0.35) - 2rem);
            height: 100%;
            @include mixins.ff-fs-fc-lh (variaveis.$ft-texto, 1.375rem, #FFFFFF, 2rem);
            background-color: variaveis.$cor-secundaria;
            border-radius: 0 32px 32px 0;
            border: none;
            transition: .3s;

            &:hover {
                background-color: variaveis.$cor-terciaria;
                background-color: variaveis.$cor-terciaria;
            }
        }
    }
}